
.jumbotron, .matchup {
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  overflow: hidden;
}

.matchup {
  border-style: solid;
  border-color: red;
}

.panelWrapper{
  width: 48%;
  padding: 30px;
}

.imageWrapper {
  margin: 0;
  margin-top: 10px;
  background-color:#E9ECEF;
  padding: 15px 0 5px 0;
  color: white;
  margin-bottom: 15px;
  overflow: hidden;
}

.skillWrapper {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.log {
  width: 45%;
  padding: 30px;
  margin-top: 30px;
}

.level {
  margin: 0;
  overflow: hidden;
  background-color: #999999;
  color: white;
  padding: 15px;
  text-align: center;
}

.sign {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.wrapperBorder {
  overflow: hidden;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  margin-top: 15px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.gcell {
  padding-top: 10px;
}

.statShroud {
  position: relative;
  padding: 10px;
  margin: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  color: white;
}


.healthBar {
  margin: 0;
  padding: 0;
  background-color: #2ECC71;
  height: 22px;
  width: 100%;
}

.actionBar {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 117, 204);
  height: 22px;
  width: 100%;
}

.healthValue, .actionValue {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 22%;
  z-index: 1030;
}

.skill {
  display: grid;
  grid-template-columns: 34% 22% 22% 22%;
  grid-template-rows: 40px;
  grid-gap: 2px;
  margin-bottom: 2px;
}

.damType {
  display: grid;
  grid-template-columns: 34% 22% 22% 22%;
  grid-template-rows: 40px;
  grid-gap: 2px;
  margin-bottom: 2px;
}

.dtcell {
  background-color: #E9ECEF;
}


.disabled {
  opacity: .25 !important;
  border-color: #999999;
}

.skcell {
  background-color: #E9ECEF;
}

.skcell:first-child {
  border-left: 6px solid orange;
}

.skcell:nth-child(4), .skcell:nth-child(8) {
  border-left: 6px solid white;
}

.dtcell:first-child {
  border-left: 6px solid white;
}

.skill > div, .damType > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.spn2 {
  grid-column: span 2;
}

.stats {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  padding: 0px;
  padding-top: 10px;
}

.base {
  padding-top: 5px;
  padding-bottom: 10px;
}

.gems {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

.gemsButtons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

.gemsWrapper {
  border-style: solid;
  border-width: thin;
  padding-bottom: 15px;
  margin-top: 15px;
}

.statBadge {
  font-size: 1.1em;
  padding: 10px;
  font-weight: normal;
  background-color: #999999;
}

.skillBadge, .gemBadge {
  font-size: 1em;
  padding: 5px;
  font-weight: normal;
  background-color: #999999;
}

.cell {
  padding: 5px 0px;
  align-self: center;
  height: 40px;
}

.blue, .green, .purple, .red {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
}

.blue {
  background-color:#5DBFE9;
}

.red {
  background-color: #BB212E;
}

.green {
  background-color: #89C75E;
}

.purple {
  background-color: #BD78B3;
}