
.jumbotron, .matchup {
  overflow: hidden;
}

.matchup {
  border-style: solid;
  border-color: red;
}

.center {
  text-align: center;
  padding-top: 10px;
}

.panelWrapper{
  width: 48%;
  padding: 30px;
}

.imageWrapper {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  background-color:#E9ECEF;
  padding: 15px 0 5px 0;
  color: white;
  margin-bottom: 15px;
  overflow: hidden;
}

.log {
  width: 45%;
  padding: 30px;
  margin-top: 30px;
}

.level {
  overflow: hidden;
  background-color: #999999;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sign {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.wrapperBorder {
  overflow: hidden;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  font-family: 'Roboto', sans-serif;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.rfloat {
  float: right;
}

.lfloat {
  float: left;
}

.center {
  text-align: center;
}

.statShroud {
  position: relative;
  padding: 10px;
  margin: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  color: white;
}

.healthBar {
  margin: 0;
  padding: 0;
  background-color: #2ECC71;
  height: 22px;
  width: 100%;
}

.actionBar {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 117, 204);
  height: 22px;
  width: 100%;
}

.healthValue, .actionValue {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 22%;
  z-index: 1030;
}

.skills {
  display: grid;
  grid-template-columns: 10% 20% 10% 20% 10% 30%;
  grid-template-rows: auto auto auto auto;
}

.stats {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
  padding: 10px;
}

.gems {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

.gemsButtons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

.gemsWrapper {
  border-style: solid;
  border-width: thin;
  padding-bottom: 15px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.badge {
  font-size: 1.1em;
  padding: 10px;
  font-weight: normal;
  background-color: #999999;
}

.cell {
  padding: 5px 0px;
  align-self: center;
  height: 40px;
}

.skcell {
  padding-top: 0;
  padding-bottom: 0px;
}

.blue, .green, .purple, .red {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
}

.blue {
  background-color:#5DBFE9;
}

.red {
  background-color: #BB212E;
}

.green {
  background-color: #89C75E;
}

.purple {
  background-color: #BD78B3;
}
