body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  overflow: hidden;
  padding: 30px;
  display: flex;
  align-items: center;
}

.matchup {
  border-style: solid;
}

.panelWrapper{
  width: 48%;
  padding: 30px;
}

.imageWrapper {
  margin: 0;
  margin-top: 10px;
  background-color:#E9ECEF;
  padding: 15px 0 5px 0;
  color: white;
  margin-bottom: 15px;
  overflow: hidden;
}

.skillWrapper {
  margin: 0;
  padding: 0;
}

.log {
  width: 45%;
  padding: 30px;
  margin-top: 30px;
}

.level {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 15px;
  background-color: #999999;
  color: white;
  height: auto;
  margin-left: auto;
}

.level > h1 {
  margin: 0;
  padding: 0;
  padding-right: 15px;
}

.round > p {
  margin: 0;
  padding: 0;
}

.round > p:first-child {
  padding-right: 15px;
}

.round {
  background-color: white;
  color: black;
  font-weight: lighter;
  margin: 0;
  padding: 10px;
}

.titles {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.titles > p  {
  font-weight: lighter;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.wrapper {
  overflow: hidden;
}

.wrapperBorder {
  overflow: hidden;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  margin-top: 15px;
}

.center {
  text-align: center;
}

.gcell {
}

.statShroud {
  position: relative;
  padding: 10px;
  margin: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  color: white;
}

.healthBar {
  margin: 0;
  padding: 0;
  background-color: green;
  height: 22px;
  width: 100%;
}

.actionBar {
  margin: 0;
  padding: 0;
  background-color:royalblue;
  height: 22px;
  width: 100%;
}

.healthValue, .actionValue {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 22%;
  z-index: 1030;
}

.skill {
  display: grid;
  grid-template-columns: 37% 21% 21% 21%;
  grid-template-rows: 40px;
  grid-gap: 2px;
  margin-bottom: 2px;
}

.special {
  display: grid;
  grid-template-columns: 37% 21% 21% 21%;
  grid-template-rows: 40px 40px;
  grid-gap: 2px;
  margin-bottom: 2px;
}


.dtcell {
  background-color: #E9ECEF;
}


.disabled {
  opacity: .25 !important;
  border-color: #999999;
}

.skcell {
  background-color: #E9ECEF;
}

.skcell:first-child {
  border-left: 6px solid #333333;
}

.dtcell:first-child {
  border-left: 6px solid white;
}

.skill > div, .damType > div, .special > div, .gem > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.spn2 {
  grid-column: span 2;
}

.bl6 {
  border-left: 6px solid white;
}

.stats {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  padding: 0px;
  padding-top: 10px;
}

.base {
  padding-top: 5px;
  padding-bottom: 10px;
}

.noButton {   
  margin-top: 28px;
}

.gemWrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  margin-top: 15px;
}

.gem {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding-top: 0\5px;
  padding-bottom: 10px;
}

.gemsButtons {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
}

.gemsWrapper {
  border-style: solid;
  border-width: thin;
  padding-bottom: 10px;
  margin-top: 10px;

}

.badge {
  color: white;
  font-weight: lighter;
  background-color: #999999;
}

.lrgBadge {
  font-size: 1.5em;
  padding: 10px;
}

.smlBadge {
  font-size: 1em;
  padding: 5px;
}

.cell {
  padding: 5px 0px;
  align-self: center;
  height: 40px;
}

.pill {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
}

.health {
  background-color: teal;
}

.act {
  background-color: darkorange;
}

.def {
  background-color:#5DBFE9;
}

.att {
  background-color: #BB212E;
}

.luck {
  background-color: #89C75E;
}

.init {
  background-color: #BD78B3;
}

.black {
  background-color: #333333;
}

.shimr5 {
  margin-right: 5px;
}

.shiml5 {
  margin-left: 5px;
}

.shimr5 {
  margin-top: 5px;
}


h3 {
  margin: 0;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 2px;
}